/bin/
/exec.m
/exec.txt
/example1.ast
/example1.errors
/example1.source
/example1.stack.m
/example1.symtab
/example1.tags.m
/example2.ast
/example2.errors
/example2.source
/example2.stack.m
/example2.symtab
/example2.tags.m
/example3.ast
/example3.errors
/example3.source
/example3.stack.m
/example3.symtab
/example3.tags.m
